<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appachhi.sdk">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- To store the heap dumps and leak analysis results. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <service android:name=".OverlayService" />

        <service android:name=".monitor.memoryleak.AppachhiMemoryLeakService" />

        <provider
            android:name=".providers.AppachhiInitializer"
            android:authorities="com.appachhi.sdk.initializer.${applicationId}"
            android:exported="false" />
        <service
            android:name=".bugasura.BugaSuraDumpService"
            android:exported="true"
            android:enabled="true">
        </service>
    </application>
</manifest>
