<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appachhi.sdk">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- To store the heap dumps and leak analysis results. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <service android:name=".OverlayService" />

        <service android:name=".monitor.memoryleak.AppachhiMemoryLeakService" />

        <activity
            android:name=".ui.ConfigurationActivity"
            android:launchMode="singleTop"
            android:theme="@style/TransparentActivity"
            android:excludeFromRecents="true"/>

        <service
            android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"
            android:process=":leakcanary"
            android:enabled="false"
            />
        <service
            android:name="com.squareup.leakcanary.DisplayLeakService"
            android:process=":leakcanary"
            android:enabled="false"
            />
        <provider
            android:name="com.squareup.leakcanary.internal.LeakCanaryFileProvider"
            android:authorities="com.squareup.leakcanary.fileprovider.${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/leak_canary_file_paths"/>
        </provider>
        <activity
            android:theme="@style/leak_canary_LeakCanary.Base"
            android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
            android:process=":leakcanary"
            android:enabled="false"
            android:label="@string/leak_canary_display_activity_label"
            android:icon="@drawable/ic_monitor"
            tools:replace="android:icon"
            android:taskAffinity="com.squareup.leakcanary.${applicationId}"
            >
        </activity>
        <activity
            tools:replace="android:icon,android:roundIcon"
            android:theme="@style/leak_canary_Theme.Transparent"
            android:name="com.squareup.leakcanary.internal.RequestStoragePermissionActivity"
            android:process=":leakcanary"
            android:taskAffinity="com.squareup.leakcanary.${applicationId}"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_monitor"
            android:roundIcon="@drawable/ic_monitor"
            android:label="@string/leak_canary_storage_permission_activity_label" />

    </application>
</manifest>
